// Import React-Bootstrap
@import "~bootstrap/scss/bootstrap";

.App {
  height: 100vh;
  background-color: magenta;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.sections {
  width: 100%;
  height: 100%; /*Leave room for TopBar*/
  background-color: lightseagreen;
  position: relative;

  scrollbar-width: none; // Removes scrollbar for firefox
  &::-webkit-scrollbar {
    // Removes scrollbar for other browsers
    display: none;
  }

  > * {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
  }
}
